<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100681275497-iask424hj6fljej0dphmku9g1vmbpvn7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100681275497-iask424hj6fljej0dphmku9g1vmbpvn7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>100681275497-2qjnd4rckn8e3ncnq1cmtcnq9tncio1d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0fs0yN2Ap07EgW04zU76O2JHioTKKbHo</string>
	<key>GCM_SENDER_ID</key>
	<string>100681275497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sokofast.btc</string>
	<key>PROJECT_ID</key>
	<string>gayux-f5c9e</string>
	<key>STORAGE_BUCKET</key>
	<string>gayux-f5c9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100681275497:ios:2494736d64680bc0fb2af8</string>
</dict>
</plist>